In [6]:
import pandas as pd

df= pd.read_csv('homeData.csv')

df.fillna(0,inplace=True)

mean=df['barometric_pressure'].mean()
print(f"the mean for barometric_pressure is {mean}")

max=df['barometric_pressure'].max()
print(f"the maximum value for barometric_pressure is {max}")


min=df['barometric_pressure'].min()
print(f"the minimum barometric_pressure measure is {min}")

the mean for barometric_pressure is 809.429202442043
the maximum value for barometric_pressure is 812.3051147
the minimum barometric_pressure measure is 0.0

In [7]:
df.describe()

,dhi_pyr,ghi_pyr_1,ghi_pyr_2,air_temperature,relative_humidity,barometric_pressure,precipitation,wind_speed,wind_from_direction,gti_clean,gti_soil,gti_monthly,sensor_cleaning
count,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000,1439.000000
mean,146.946761,249.055541,249.114990,17.860171,85.813332,809.429202,0.003336,2.013625,156.727465,225.304796,224.294472,225.341269,0.000695
std,203.660265,370.866940,371.725332,2.722965,13.818773,30.227564,0.025621,0.905616,84.367370,335.008417,333.100959,334.968451,0.026361
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,15.556750,74.641998,809.981659,0.000000,1.553667,90.778248,0.000000,0.000000,0.000000,0.000000
50%,0.805126,1.741604,1.412038,16.944166,94.066002,810.704773,0.000000,2.047000,134.271698,2.311725,2.287212,2.316530,0.000000
75%,304.127701,528.153625,526.179962,19.648166,97.177002,811.457092,0.000000,2.527000,243.544037,473.908279,471.188583,474.198593,0.000000
max,667.205322,1401.639038,1417.180908,23.996332,99.669998,812.305115,0.200000,5.700333,358.630402,1291.281982,1292.813721,1290.955566,1.000000

In [14]:
df[df.air_temperature>23.4]

,time,dhi_pyr,ghi_pyr_1,ghi_pyr_2,air_temperature,relative_humidity,barometric_pressure,precipitation,wind_speed,wind_from_direction,gti_clean,gti_soil,gti_monthly,sensor_cleaning
825,4/12/2019 13:46,316.624145,1279.078613,1287.592407,23.996332,54.160000,809.434937,0.0,2.633667,102.562576,1154.240601,1140.858032,1154.902954,0.0
826,4/12/2019 13:47,313.369659,1220.421875,1224.779785,23.678833,60.791000,809.441711,0.0,1.035650,102.407661,1095.002319,1082.419434,1095.367920,0.0
827,4/12/2019 13:48,320.598755,1137.417358,1140.077637,23.479666,61.865002,809.422729,0.0,2.207000,122.371681,1020.049500,1008.070740,1019.197815,0.0
828,4/12/2019 13:49,363.270447,789.322205,783.812439,23.494999,59.275002,809.398193,0.0,3.820333,110.106690,700.247681,690.650269,699.522461,0.0
916,4/12/2019 15:17,220.944626,895.118042,902.910400,23.412832,63.716999,808.384460,0.0,4.260333,124.889481,799.350403,783.347900,798.947022,0.0

In [47]:
#printing out specific columns

y=df[df.air_temperature>23.4]

y[['time','air_temperature','relative_humidity']]

                time  air_temperature  relative_humidity
825  4/12/2019 13:46        23.996332          54.160000
826  4/12/2019 13:47        23.678833          60.791000
827  4/12/2019 13:48        23.479666          61.865002
828  4/12/2019 13:49        23.494999          59.275002
916  4/12/2019 15:17        23.412832          63.716999